<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="yUXLg8glPFuozWw0Xn7CPVgUyUDAgNngYNLQvMbkO_s" />
        <title>Google Verify Page</title>
        <!-- Other meta tags, stylesheets, or scripts -->
    </head>

    <body>
        <p>To login go to <a href="/api/auth/google">/api/auth/google</a></p>
        <p>This page is for verification only</p>
        <p>
            <h3>This is a backend api for the Loca-Sphere service.</h3>
            <ul>
                <li>More coming soon</li>
            </ul>
        </p>
        <!-- Other HTML content -->
    </body>
</html>